<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find pepper_moveit_config)/config/pepper_trajectory_control.yaml" command="load"/>

  <node pkg="naoqi_dcm_driver" type="naoqi_dcm_driver" name="naoqi_dcm_driver" respawn="false" output="screen" >
    <!-- Load configurations from YAML file to parameter server -->
    <!-- <rosparam file="$(find pepper_dcm_bringup)/config/pepper_dcm.yaml" command="load"/> -->
    <rosparam file="$(find pepper_moveit_config)/config/pepper_trajectory_control.yaml" command="load"/>
    <param name="RobotIP"             value="10.0.207.28" />
    <param name="RobotPort"           value="9559" />
    <param name="DriverBrokerIP"      value="0.0.0.0" />
    <param name="network_interface"   value="eno1" />
    <param name="Prefix"              value="pepper_dcm" />
    <param name="motor_groups"        value="Head LArm RArm" /> <!-- either "Body" or separate groups in the order "Head LArm RArm" -->
    <param name="use_dcm"             value="false" />
    <param name="max_stiffness"       value="0.9" />
  </node>

  <!-- load the controllers -->
  <node name="pepper_trajectory_controller" pkg="controller_manager" type="spawner" respawn="true" output="screen" args="
      /pepper_controller/right_arm_controller
      /pepper_controller/left_arm_controller
      /pepper_controller/right_hand_controller
      /pepper_controller/left_hand_controller
      /pepper_controller/head_controller
      /pepper_controller/pelvis_controller
      /pepper_controller/joint_state_controller "/>

</launch>
